/* ---------------------- BUTTON ---------------------- */

.button {
  font-family: inherit;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  height: 56px;
}

.button__icon-wrapper {
  --icno-size: 24px;
  font-size: var(--icno-size);
  width: var(--icno-size);
  height: var(--icno-size);
}

.button.button-primary {
  background-color: var(--primary-color);
}

.button.button-primary > * {
  --content-color: white;
  color: var(--content-color);
  fill: var(--content-color);
}

.button.button-secondary {
  background-color: var(--secondary-color);
}

.button.button-secondary > * {
  --content-color: #505051;
  color: var(--content-color);
  fill: var(--content-color);
}

/* ---------------------- CHECKBOX ---------------------- */

.checkbox-wrapper * {
  box-sizing: border-box;
  color: white;
}

.checkbox-wrapper .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}

.checkbox-wrapper .cbx:not(:last-child) {
  margin-right: 6px;
}

.checkbox-wrapper .cbx:hover {
  background: rgba(0, 119, 255, 0.06);
}

.checkbox-wrapper .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
  color: black;
}

.checkbox-wrapper:has(.inp-cbx:checked) span:last-child {
  color: var(--primary-color);
}

.checkbox-wrapper .cbx:hover span:first-child {
  border-color: var(--primary-color);
}

.checkbox-wrapper .inp-cbx {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child {
  background: var(--primary-color);
  border-color: var(--primary-color);
  animation: wave-4 0.4s ease;
}

.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 640px) {
  .checkbox-wrapper .cbx {
    width: 100%;
    display: inline-block;
  }
}

@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

/* ---------------------- TEXT_FIELD ---------------------- */

.input-container {
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.5rem;
}

.input-container__label {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  line-height: 1;
  text-align: start;
  color: var(--text-color);
}

.input-container__input {
  display: flex;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  border-width: 1px;
  width: 100%;
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-container__input:focus-visible {
  outline: 2px solid rgba(59, 130, 246, 0.5);
  outline-offset: 2px;
}

.input-container__input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

::file-selector-button {
  border-width: 0;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.input-container__error-message {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #dc2626;
  margin-bottom: 0.5rem;
}

@media (min-width: 640px) {
  .input-container {
    gap: 1rem;
    align-items: center;
    grid-template-columns: 1fr 3fr;
  }

  .input-container__error-message {
    grid-column: span 2 / span 2;
    margin-bottom: 1rem;
  }
}

/* ---------------------- PHONE_NUMBER_FIELD ---------------------- */

/* ---------------------- SWITCH ---------------------- */

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #d4acfb;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: var(--primary-color);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

.switch input:checked + .slider:before {
  transform: translateX(1.6em);
  width: 1.5em;
  height: 1.5em;
  bottom: 4px;
  left: 3px;
}

/* ---------------------- RADIO ---------------------- */

.radio-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 15px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.radio-button__custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s ease;
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  background-color: var(--primary-color);
  border-color: transparent;
  transform: scale(0.8);
  box-shadow: 0 0 20px var(--primary-color);
}

.radio-button__input:checked + .radio-button__label {
  color: var(--primary-color);
}

.radio-button__label:hover .radio-button__custom {
  transform: scale(1.2);
  border-color: var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color);
}

/* ---------------------- FORM_GENERATOR ---------------------- */

.fileds-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fileds-wrapper > * {
  width: 100%;
}

.error-message {
  font-size: 12px;
  font-weight: 400;
  color: red;
}

.form-generator-container {
  max-width: 32rem;
  margin-right: auto;
  margin-left: auto;
}

.form-generator-container h2 {
  color: var(--primary-color);
  margin-top: 1rem;
  overflow-wrap: break-word;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  text-align: center;
}

.form-generator-container p {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.form-generator-container .steps-handlers-wrapper {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.form-generator-container .steps-handlers-wrapper .prev-button-wrapper {
  flex-grow: 3;
}
.form-generator-container .steps-handlers-wrapper .next-button-wrapper {
  flex-grow: 9;
}
